.home {
  .searcher {
    padding-left: 10px;
    border: 1px solid;
    min-width: 500px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    &::placeholder {
      color: steelblue;
    }
  }

  .today-food {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: goldenrod;
  }

  .last-week-food {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: pink;
  }

  .month-food {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: skyblue;
  }
}